body {
    position: absolute;
    width: 100%;
    background: url('../img/body.jpg') no-repeat center top #A6C1E8;
    background-size: auto auto;
    /*min-height: 1739px;*/
	font-family: 'Spinnaker', sans-serif;
	color: #FFF;
	display:none;
}

a {transition: color 0.4s ease 0s; color: #FFF;}
a:hover, a:focus {text-decoration: none;}
.container {width: 1010px;}

.div-logo {
	text-align: center;
	height: 195px;
}

.div-logo .logo {
	margin: 25px auto 16px;
	background: url('../img/logo.png') no-repeat;
	background-size: cover;
	width: 80px;
	height: 80px;
}

.div-logo h1 {
	margin: 0px;	
	font-size: 30px;
	color: #1C3353;
}

.div-logo span {
	line-height: 14px;
	font-size: 13px;
	color: #1C3353;
}

.div-navigation ul {
	float: right;
	margin: 0xp;
}

.div-navigation ul li {
	position: relative;
	float: left;
	list-style: none;
}

.div-navigation ul li a {
	display:  block;
	line-height: 30px;
	padding: 0px 10px;
	font-size: 16px;
	color: #FFF;
}

.div-navigation ul li a:hover, .div-navigation ul li a.active {
	color: #DCE00D;	
}

h1.page-title {
	margin: 0px;
	margin-bottom: 13px;
	line-height: 46px;
	text-transform: uppercase;
	font-size: 20px;
	border-top: 3px solid #FFF;
	border-bottom: 3px solid #FFF;
	padding-left: 10px;
	letter-spacing: 2px;	
}

.home-left-col {
	width: 285px;
}

.home-left-col .social-icons {	
	margin-bottom: 47px;
	border-top: 2px dashed #FFF;	
	border-bottom: 2px dashed #FFF;
	padding: 12px 0px;	
}

.home-left-col .social-icons img {
	margin: 0px 10px;
}

.home-left-col span, .destinations-right-col span {
	display: block;
	margin-top: 9px;
	margin-bottom: 24px;
	font-size: 20px;
	color: #FFF;
	letter-spacing: 2px;
}

.home-right-col {
	padding: 15px 20px;
	/*background: url('../img/london.png') no-repeat center top;*/
	background: rgba(255, 255, 255, 0.7);
	width: 635px;
	height: 339px;
	border: 8px #FFF solid;
	color: #305589;
}

.home-right-col p {
	font-size: 53px;
	line-height: 48px;
}

.home-right-col a {
	color: #305589;
	font-size: 20px;
}

.home-right-col a:hover {
	color: #305589;
}

.home-left-col-1 {
	padding-right: 83px;
	border-right: 2px #FFF dashed;
}

.home-left-col-1 h2, .destinations-left-col-1 h2, .destinations-right-col-1 h2 {
	display: inline-block;
	margin: 0px;
	margin-right: 4px;
	width: 410px;
	height: 65px;
	line-height: 65px;
	background: rgba(255, 255, 255, 0.4);
	color: #305589;
	font-size: 20px;
	text-align: center;
	letter-spacing: 4px;
}

.home-left-col-1 .h2-icon, .destinations-left-col-1 .h2-icon, .destinations-right-col-1 .h2-icon {
	margin-top: -7px;
	border: 5px rgba(255, 255, 255, 0.4) solid;
	width: 77px; 
	height: 65px;
	padding: 5px 9px;
}

.home-left-col-1 .white-content {
	position: relative;
	margin-top: 10px;
	margin-bottom: 25px;	
	background: rgba(255, 255, 255, 0.7);
	padding: 30px 65px 30px 45px;
	width: 495px;
	height: 230px;
	text-align: justify;
}

.home-left-col-1 .white-content .list-details {	
	font-size: 20px;
	color: #305589;
}

.home-left-col-1 .white-content .list-details .color-white {
	color: #FFF;
}

.home-left-col-1 .white-content .link-seemore {
	position: absolute;
	bottom: 13px; 
	right: 15px; 
	font-size: 14px;
	color: #305589;
}

.home-right-col-1, .vacation-right-col {
	width: 315px;
}

.home-right-col-1 h2, .vacation-right-col h2 {
	margin: 0px;
	line-height: 74px;
	font-size: 53px;
}

.home-right-col-1 .white-content, .vacation-right-col .white-content {
	position: relative;
	margin-top: 10px;
	margin-bottom: 50px;	
	background: rgba(255, 255, 255, 0.4);
	padding: 12px 45px 12px 25px;
	width: 311px;
	height: 85px;
}

.home-right-col-1 .white-content .seemore, .vacation-right-col .white-content .seemore {
	position: absolute;
	right: 10px;
	bottom: 25px;
}

.home-right-col-1 .white-content p, .vacation-right-col .white-content p {
	font-size: 20px;
}

.destinations-left-col, .vacations-right-col {
	width: 635px;
	height: 250px;
	border: 8px #FFF solid;
}

.destinations-left-col img, .vacations-right-col img {	
	width: 100%;
	height: 100%;	
}

.destinations-right-col, .vacations-left-col {	
	margin-left: -8px;
	width: 353px;
	height: 250px;
	border: 8px #FFF solid;
	background: rgba(48, 85, 137, 0.16);
}

.destinations-left-col-1, .aboutus-left-col, .vacation-left-col {
	padding-right: 42px;
	border-right: 2px #FFF dashed;
	min-height: 760px;
}

.destinations-left-col-1 h2 {
	width: 504px;
	margin-bottom: 25px;
}

.destinations-left-col-1 .destination-item {
	position: relative;
	margin-bottom: 12px;
	width: 589px;
	height: 124px;
	background:  rgba(255, 255, 255, 0.7);
	color: #305589;
	font-size: 15px;
	line-height: 16px;
}

.destinations-left-col-1 .destination-item .wrap {
	width: 397px;
	padding: 22px 18px 0px;
}

.destinations-left-col-1 .destination-item .wrap h3 {
	margin: 0;
	font-size: 25px;
	line-height: 35px;
}

.destinations-left-col-1 .destination-item img {
	width: 192px;
	height: 124px;
	border: 8px #FFF solid;
}

.destinations-left-col-1 .destination-item .seemore {
	position: absolute;
	top: 43px;
	right: 172px;
}

.destinations-right-col-1 {
	width: 308px;	
}

.destinations-right-col-1 .p-intro {
	font-size: 25px;
	line-height: 25px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.destinations-right-col-1 .div-intro {
	padding: 45px 35px;
	width: 308px;
	height: 268px;
	background: #00A59A;
	vertical-align: central;
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 25px;
}

.destinations-right-col-1 h2 {
	margin-bottom: 15px;
	width: 221px;
	font-size: 25px;
	color: #FFF;
}

.destinations-right-col-1 .h2-icon {
	margin-top: -11px;
}

.destinations-right-col-1 .white-content {
	position: relative;
	background:  rgba(255, 255, 255, 0.7);
	padding: 40px 25px;
	width: 306px;
	height: 275px;
	color: #305589;
	font-size: 15px;
}

.destinations-right-col-1 .white-content p {
	margin: 0px;
	line-height: 18px;
}

.destinations-right-col-1 .white-content strong {
	display: block;
	line-height: 30px;
	font-size: 25px;
	font-weight: 400;
}

.vacations-left-col {
	margin-left: 0px;
}

.vacations-left-col span {
	font-size: 25px;
	text-transform: uppercase;
	line-height: 25px;
}

.vacations-right-col {
	margin-left: -8px;
}

.vacation-item {
	float: left;
	margin-right: 13.25px;
	width: 235px;
	background: rgba(255, 255, 255, 0.7);
	color: #305589;
	margin-bottom: 20px;
}

.vacation-item.last {
	margin-right: 0px;
}

.vacation-item.last:after {
	clear: both;
}

.vacation-item img {
	width: 235px;
	height: 195px;
}

.vacation-item .wrap {
	position: relative;
	height: 295px;
	padding: 0px 20px 0px 10px;
}

.vacation-item .wrap h2, .vacation-item-empty h2 {
	margin: 0px;
	font-size: 53px;
	line-height: 65px;	
	margin-bottom: 5px;
}

.vacation-item .wrap strong {
	display: block;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
}

.vacation-item .wrap > span {
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
}

.vacation-item .wrap p {
	font-size: 13px;
	line-height: 13px;
	margin-top: 16px;
}

.vacation-item .wrap .link-seemore {
	position: absolute;
	right: 10px;
	bottom: 15px;
	font-size: 14px;
	color: #305589;
}

.vacation-item-empty {	
	width: 100%;
	height: 490px;
	background: rgba(255, 255, 255, 0.7);
	color: #305589;
	margin-bottom: 20px;
	padding: 40px 30px;
}

.vacation-item-empty a {
	margin-top: 30px;
	display: block;
	color: #305589;
	font-size: 20px;
}

.aboutus-left-col, .vacation-left-col {
	padding-right: 40px;
}

.aboutus-left-col .white-content, .vacation-left-col .white-content {
	width: 595px;
	background: rgba(255, 255, 255, 0.7);
	color: #305589;
}

.aboutus-left-col .white-content > img:first-child, .vacation-left-col .white-content > img:first-child {
	width: 100%;
	border: 8px #FFF solid;
}

.aboutus-left-col .white-content .wrap, .vacation-left-col .white-content .wrap {
	padding: 20px;
}

.aboutus-left-col .white-content .wrap h2, .vacation-left-col .white-content .wrap h2 {
	margin: 0px;
	font-size: 25px;
	line-height: 35px;
}

.aboutus-left-col .white-content .wrap p, .vacation-left-col .white-content .wrap p {
	font-size: 15px;
	line-height: 16.5px;
	margin-top: 15px;
}

.aboutus-right-col {
	width: 308px;
}

.aboutus-right-col h3 {
	font-size: 46px;
	line-height: 42px;
	margin: 0;
}

.aboutus-right-col .intro {
	width: 308px;
	height: 330px;
	background: #00A59A;
	margin-top: 20px;
}

.aboutus-right-col .intro .star {
	margin: 30px 6px 20px;
}

.aboutus-right-col .intro span {
	display: block;
	font-size: 20px;
	line-height: 30px;
}

.aboutus-right-col .intro span.dashed {
	height: 2px;
	border-bottom: 2px #FFF dashed;
	width: 165px;
	text-align: center;
	margin: 15px auto;
}

.aboutus-testimonials h2 {
	margin: 0px;
	width: 100%;
	height: 65px;
	line-height: 65px;
	text-align: center;
	background: rgba(255, 255, 255, 0.4);
	color: #305589;
	margin-bottom: 25px;
}

.aboutus-item {
	position: relative;
	float: left;
	width: 310px;
	min-height: 180px;
	background: rgba(255, 255, 255, 0.4);
	padding: 20px;
	margin-right: 25px;
}

.aboutus-item.last {
	margin-right: 0px;
}

.aboutus-item.last:after {
	clear: both;
}

.aboutus-item p {
	color: #305589;
	font-size: 20px;
	line-height: 22px;
}
.aboutus-item .author {
	position: absolute;
	left: 20px;
	bottom: 28px;
	line-height: 28px;
	font-size: 22px;
}

.vacation-left-col {
	min-height: 925px;
}

.vacation-left-col h2 {
	font-size: 38px !important;
	line-height: 48px !important;
}

.vacation-left-col p.details {
	margin: 0px !important;
	margin-bottom: 30px !important;
	font-size: 24px !important;
}

.vacation-left-col .div-book {
	margin: 20px auto;
	width: 100%;
	padding: 5px 10px;
	border: 1px dashed #305589;
}

.vacation-left-col .div-book span {
	margin-top: 10px;
	
}

.vacation-left-col .div-book strong {
	font-size: 26px;
	line-height: 22px;
}

.vacation-left-col a {
	color: #305589;
	font-size: 16px;
	display: block;
	margin-top: 45px;
}

.vacation-right-col .intro {
	padding: 45px 35px;
	width: 308px;
	height: 268px;
	background: #00A59A;
	vertical-align: central;
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 25px;
	text-align: center;
}

.footer .row-1 {
	background: #00A59A;
	height: 105px;
	letter-spacing: 5px;
}

.footer .row-1 h2 {
	line-height: 105px;
	margin: 0px;	
	color: #305589;
	display: inline-block;
}

.footer .row-1 .btn-custom {
	width: 310px;
	height: 60px;
	margin-top: 20px;
	font-size: 25px;
}

.footer .row-2 {
	background: #305589;
	height: 280px;
}

.footer .row-2 .container {
	padding: 25px 0px;
}

.footer .row-2 .container ul {
	padding-left: 20px;
}

.div-space {
	height: 72px;
}

.div-space2 {
	height: 58px;
}

a.banner {
	background: url('../img/banner_bg.png') no-repeat center top;
	margin: auto;
	display: block;
	width: 255px;
	height: 53px;
	line-height: 53px;
	font-size: 25px;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 6px;
}

a.banner:hover {
	color: #00524D;
}

.seemore {
	display: inline-block;
	border: 3px #FFF solid;
	border-radius: 18px;
	width: 36px;
	height: 36px;
	line-height: 28px;
	text-align: center;
	background-color: #00A59A;
	font-size: 20px;
	color: #FFF;
	transition: background-color 0.4s ease 0s;
}

.seemore:hover {
	background-color: #EA1935;
	color: #FFF;
}

.btn-custom {
	display: block;
	color: #FFF;
	height: 60px;
	line-height: 52px;
	font-size: 17px;
	border: 4px #FFF solid;
	transition: background-color 0.4s ease 0s;
	text-align: center;
}

.btn-custom:hover {
	background-color: #EA1935;
	color: #FFF;
}

.border-bottom {
	position: absolute;
	bottom: -20px;
	left: 0px;
	width: 100%;
	height: 21px;
	background: url('../img/border_bottom.png') left top no-repeat;
}

.pagination {
	margin-top: 5px;
	margin-bottom: 0px;
}

.pagination li a, .pagination li.disabled a {
	background: rgba(255, 255, 255, 0.8);
	color: rgba(48, 85, 137, 0.6);
	transition: background 0.4s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
	border: 1px solid rgba(48, 85, 137, 0.4);
	font-size: 16px;
}

.pagination li.disabled a, .pagination li.disabled:hover a {
	background: rgba(255, 255, 255, 0.8) !important;
	color: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(48, 85, 137, 0.4);
}

.pagination li a:hover {
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(48, 85, 137, 1);
	color: rgba(48, 85, 137, 1);
}

a:focus, button:focus {outline: none;}
button::-moz-focus-inner {border: 0;}